# Python Basics

### print() function displays.

In [ ]:
name="jessica"

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
12+12

In [ ]:
print("Hello World!")

In [ ]:
print(print)

In [ ]:
print("print")

### You can use "" or '' in your code. But choose one and stick to it.

In [ ]:
print("Hello World!')

In [ ]:
print('Hello World!")

### You can not use " and ' together.

Whats the differnce between these syntax?

![image.png](attachment:image.png)

In [ ]:
print("3.14")

In [ ]:
print(3.14)

Same output?

### type() function displays type of data

In [ ]:
print(type("3.14"))

In [ ]:
print(type(3.14))

In [ ]:
print(type(50))

In [ ]:
print(type("50"))

In [ ]:
print(type(0))

True and False Boolean Data Type

In [ ]:
print(type(True))

### Python is case sensitive. False is not the same as false

In [ ]:
print(type(false))

In [ ]:
print(type(False))

## Escape characters

In [ ]:
print("The itsy bitsy spider\nclimbed up the waterspout.")

print()

print("Down came the rain\nand washed the spider out.")

In [ ]:
print("The itsy bitsy spider")
print("climbed up the waterspout.")

In [ ]:
print("The itsy bitsy spider\climbed up the waterspout.")

In [ ]:
print("\")

Not allowed to use single \ without any other character

In [ ]:
print("\\")

In [ ]:
print("The itsy bitsy spider\\nclimbed up the waterspout.")
print()
print("Down came the rain\\nand washed the spider out.")

In [ ]:
print("The itsy bitsy spider\nclimbed up the waterspout.")

print()

print("Down came the rain\nand washed the spider out.")

In [ ]:
print("The itsy bitsy spider\n\nclimbed up the waterspout.")
print()
print("Down came the rain\n\nand washed the spider out.")

### \' Single Quote Escape Character

In [ ]:
print('My brother's birthday is 18th July.')

In [ ]:
print('My brother\'s birthday is 18th July.')

In [ ]:
print("My brother's birthday is 18th July.")

In [ ]:
print("My brother\'s birthday is 18th July.")

### \t Tab

In [ ]:
print("I have a red car.")

In [ ]:
print("I have \t a red car.")

In [ ]:
print("I have   a red car.")

In [ ]:
print("Hello,\nworld\r!werwe")

## Arguments of print()

In [ ]:
print("The itsy bitsy spider" , "climbed up" , "the waterspout.")

In [ ]:
print("The itsy bitsy spider","climbed up","the waterspout.")

In [ ]:
print("The itsy bitsy spider","climbed up",      "the waterspout.")

In [ ]:
print("The itsy bitsy spider","climbed up","the waterspout.")

In [ ]:
print("The itsy bitsy spider" + "climbed up" + "the waterspout.")

In [ ]:
print("My name is", "Python.")
print("Monty Python.")

In [ ]:
print("My name is", "Python.", end=" ")
print("Monty Python.")

In [ ]:
print("My name is Yusuf.", end="*")
print("I love Python.", end="-")


print("I am learning in JustIT.")

In [ ]:
print("My name is Yusuf.", "I love Python.", end=" ")
print("I am learning in JustIT.")

In [ ]:
print("My name is Yusuf.", "I love Python.", end=3*"\n")

In [ ]:
print("My", "name", "is", "Monty", "Python.", sep="-")

In [ ]:
print("My", "name", "is", "Monty", "Python.", sep="\n")

In [ ]:
print("My", "name", "is", "Monty", "Python.", sep="\t")

Keyword argument must come after positional argument.

In [ ]:
print("My", "name", sep="\t", "is", "Monty", "Python.")

In [ ]:
print("My", "name", "is",      "Monty",      "Python.", sep="*")

In [ ]:
print("My", "name", "is", sep="_", end="*")
print("Monty", "Python.", sep="*", end="*\n")

In [ ]:
print("My", "name", "is", sep="*", end="_")
print("Monty", "Python.", sep="\n", end="*")

## Exercise ![image-2.png](attachment:image-2.png)

In [ ]:
print("Programming***","Essentials***","in...")
print("\n")
print("Python")

In [ ]:
print("Programming","Essentials","in", sep="***", end="...\n\n\nPython")

In [ ]:
print("Programming***","Essentials", end="***")

print("in...\n")

print("Python", end="\n")

## Python Arithmetic Operators

In [ ]:
print(2+3)

In [ ]:
print(2-3)

In [ ]:
print(2*3)

In [ ]:
print(12/3)

In [ ]:
print(12%3)

In [ ]:
print(7%3)

In [ ]:
print(12%5)

In [ ]:
print(2**3)

In [ ]:
print(3**2)

In [ ]:
print(10*90/100)

In [ ]:
print(12/3)

In [ ]:
print(12//3)

How to round output into 2 decimal places?

In [ ]:
print(14/3)

In [ ]:
print(14//3)

In [ ]:
print(258//12)

In [ ]:
print(258/12)

### Comment

Ctrl + / makes line a comment

In [ ]:
# It calculates sum

In [ ]:
#Get back to this later

In [ ]:
# add question

In [ ]:
2+3

## Variables

In [ ]:
name = "Yusuf"
age = 18
location = "UK"

In [ ]:
print(name)

In [ ]:
print("name")

In [ ]:
print(age)

In [ ]:
location

In [ ]:
print(location)

In [ ]:
pi = 3.14

In [ ]:
print(pi)

In [ ]:
amiright = True

In [ ]:
print(amiright)

#### Exercise

In [ ]:
my_age = 33

your_age = 30

my_age = your_age

print(my_age)

Variable name can not contain a space

In [ ]:
favorite movie = "3 Idiots" #Amir Khan movie

In [ ]:
favorite_movie = "3 Idiots" #Amir Khan movie

In [ ]:
print(favorite_movie)

#### Exercise

Design an algorithm to add two numbers and display the result.

In [ ]:
num1 = 14
print("my first number is ", num1)
num2 = 15
print("my second number is ", num2)
summation = num1+num2
print("Addition of", num1, "and", num2, "is equal to", sum, end=".")

In [ ]:
# do not assign varabile to a function like in this exmaple (print = 21)

In [ ]:
#you can not assign a variable to keywords
if = 10

In [ ]:
My_name = "Yusuf"

In [ ]:
My_name

In [ ]:
True = 12

#### Exercise

![image.png](attachment:image.png)

In [ ]:
myName = "Hubert Blaine Wolfeschlegelsteinhausenbergerdorff Sr"

In [ ]:
print(myName)

In [ ]:
print(type(myName))

In [ ]:
print(len(myName))

## input() function

In [ ]:
print("Tell me anything...")
anything = input()
print("Hmm...", anything, "... Really?")

In [ ]:
print(input())

In [ ]:
anything = input("Tell me anything...")
print("Hmm...", anything, "...Really?")

In [ ]:
age = input("please enter your age...")
print("Hmm.. you are", age, "years old.")

In [ ]:
time_hour = input("tell me time in hour. I will calculate in seconds.")
print("Hmm.. you are", time_hour*60, "years old.")

In [ ]:
time_second = input("tell me time in seconds. I will calculate in hours.")
print("Hmm.. you are", time_second/60, "years old.")

In [ ]:
anything = input("Enter a number: ")
something = anything ** 2.0
print(anything, "to the power of 2 is", something)

In [ ]:
#add int function before input that will change datatype before storing
anything = int(input("Enter a number: "))
something = anything ** 2.0
print(anything, "to the power of 2 is", something)

In [ ]:
#add int function before input that will change datatype before storing
anything = int(input("Enter a number: "))
something = anything ** 2.0
print(anything, "to the power of 2 is", something)

In [ ]:
#add float function before input that will change datatype before storing
anything = float(input("Enter a number: "))
something = anything ** 2.0
print(anything, "to the power of 2 is", something)

In [ ]:
anything = int(input("Enter a number: "))



something = anything ** 2.0



print(anything, "to the power of 2 is", something)

#### Exercise âˆ’ Design a calculator that will get two numbers from user, make arithmetic operations and display the result.

In [ ]:
print("Simple Addition Calculator")



try:

    num1 = int(input("Enter the first number: "))

    num2 = int(input("Enter the second number: "))

    result = num1 + num2

    print("Result:", result)

except ValueError:

    print("Invalid input. Please enter valid integers.")

In [ ]:
anything = int(input ("Enter a number:"))

something = anything / 11

print(anything, "divided by 11 is", something)

In [ ]:
x = float(input("Enter number 1: "))

y = float(input("Enter number 2: "))

sum = float(x+y)



print("Sum of x and y = ", x+y)

print("Sum of x and y", sum)

In [ ]:
anything1 = int(input("Enter a number: "))
anything2 = int(input("Enter a number: "))



output = anything1 + anything2



print("Your inputs are", anything1, "and", anything2, "\nThe total of your two inputs is", output)

In [ ]:
# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y


print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    # take input from the user
    choice = input("Enter choice(1/2/3/4): ")

    # check if choice is one of the four options
    if choice in ('1', '2', '3', '4'):
        try:
            num1 = float(input("Enter first number: "))
            num2 = float(input("Enter second number: "))
        except ValueError:
            print("Invalid input. Please enter a number.")
            continue

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))

        # check if user wants another calculation
        # break the while loop if answer is no
        next_calculation = input("Let's do next calculation? (yes/no): ")
        if next_calculation == "no":
          break
    else:
        print("Invalid Input")

In [ ]:
number1= int(input("Enter the first number:"))

number2= int(input("Enter the second number:"))

sum=number1+number2;

print("Addition",sum)

sub=number1-number2;

print("subtraction:",sub)

multipication=number1*number2;

print("multiplication:",multipication)

division=number1/number2;

print("Division:",float(division))

In [ ]:
print("Yusuf", "Satilmis")
print("Yusuf" + "Satilmis")

print("3", 4)

print(3+4)

print("3"+ 4 )